p К сожалению, Вами не был подтвержден указанный при регистрации адрес электронной почты,
p поэтому вход на сайт через эту социальную сеть временно ограничен.
p Только что Вам было выслано повторное письмо для подтверждения электронной почты.
p После подтверждения регистрация будет завершена.
= link_to 'Вернуться к странице входа', new_user_session_path
