p Для продолжения регистрации необходимо подтвердить адрес Вашей электронной почты.
p После подтверждения будет завершена регистрация и осуществлен вход на сайт.
= link_to 'Вернуться к странице входа', new_user_session_path
