p Благодарим за создание вопроса!
p Мы будем присылать их на Вашу почту все ответы, которые будут появляться.
p Вы можете #{ link_to 'отписаться', subscription_url(@question), method: :delete } от получения уведомлений
