// Place all the styles related to the Answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.answer{
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-rows: auto 40px minmax(1px, max-content);
  border: 1px solid lightGrey;
  margin: 5px;
  padding: 10px;
  padding-bottom: 0px;
  // width: 60%;
}
.answer_vote_box{
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  grid-row: 1 / 4;
}
.best_answer{
  font-size: 12px;
}
.advanced_staff{
  padding-top: 5px;
  padding-left: 10px;
  border-top: 1px solid lightGrey;
}
.author{
  font-size: 12px;
}
.main{
  padding-left: 10px;
}
.answer_body{
  padding-top: 5px;
}
.img{
  background-color: #A7F6A7;
}
.best_info{
  font-size: 10px;
  color: white;
}

.updated_at{
  font-size: 12px;
  color: #bababa;
}
