// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.info_line{
  float: left;
  margin-right: 10px;
  color: #bbb8b8;
  &:hover{
    color: black;
  }
}
.rating{
  font-size: 28px;
  font-style: oblique;
  text-align: right;
}
.question_body{
  width: 80%;
  // margin-left: 120px;
  padding-left: 120px;
}
.adv_info {
  font-size: 12px;
}

.manage{
  font-size: 12px;
  text-align: right;
  float: right;
  margin-left: 5px;
}
.delete_question > a {
  color: pink;
  &:hover{
    color: red;
  }
}
.favorites > a{
  color: #f0e557;
  &:hover{
    color: #aeb800;
  }
}
.exists_questions{
  margin-top: 10px;
}

.question_vote_box{
  text-align: center;
  font-size: 28px;
  width: 10%;
  height: auto;
  float: left;
}
.question_author{
  float: none;
  width: 100%;
}
.question > hr{
  margin-top: 0px;
}
